/* index.html */

* {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    width: 100%;
    font-family: sans-serif;

    /*
    border-color:#f9FAF8;
    border-style: dotted;
    */
}

#header {
    width: 100%;
    flex-direction: row;
    background-color: #1f2937;
}

html {
    margin: 0;
}

body {
    margin: 0;
}

head {
    display: none;
}

title {
    display: none;
}

meta {
    display: none;
}

link {
    display: none;
}

#headbox {
    width: 80%;
    flex-direction: row;
}

#logo {
    width: 40%;
    background-color: #1f2937;
    color: #f9FAF8;
}

#headfields {
    width: 60%;
    background-color: #1f2937;
    color: #f9FAF8;
    flex-direction: row;
}

#headfield {
    width: 20%;
    background-color: #1f2937;
    color: #f9FAF8;
}

#opening {
    background-color: #1f2937;
    color: #f9FAF8;
    align-items:center;
    width: 100%;
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 10px;
}

p {
    margin: 10px;
}

h5 {
    margin: 15px;
}

a {
    text-decoration: none;
    color: #f9FAF8;
}

#stylish {
    width: 100%;
    flex-direction: row;
    background-color: #1f2937;
    color: #f9FAF8;
    padding-top: 1%;
    padding-bottom: 1%;
}

#stylishwords {
    width: 20%;
    flex-direction: column;
    background-color: #1f2937;
    color: #f9FAF8;
}

#stylishwords h3 {
    align-items: baseline;
    margin: 0px;
}

#stylishwords h4 {
    align-items: baseline;
    margin: 0px;
}

#stylishwords h5 {
    background-color: #3882F6;
    border-radius: 5px;
    width: 15%;
    margin-right: 50%;
    padding: 1%;
}

#stylishtitle {
    height: 20%;
}

#stylishbody {
    height: 80%;
}

#stylishpic {
    width: 15%;
}

#themeat {
    display: flex;
    width: 60%;
    padding: 10px;
}

#quote {
    background-color: #E5E7EB;
    font-size: 24px;
    color: #1f2937;
    font-family: cursive;
    width: 100%;
}

#call {
    background-color: #3882F6;
    color: #f9faf8;
    width: 45%;
    height: 10%;
    margin: 1%;
    border-radius: 10px;
}

#pics {
    flex-direction:column;
    padding:4%;
}

#plead img {
    border: 2px solid blue;
    border-radius: 10px;
}

#plead {
    flex-direction:row;
    padding-left: 10%;
    padding-right: 10%;
    width: 50%;
}
